@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,body,div,video {margin:0;padding:0;}

html{overflow: hidden;}
html, body{width: 100%; height: 100%; }

body {padding:0px, 0px, 0px, 0px; margin:0px, 0px, 0px, 0px; background-color:#F8F7F7; }  

body{
    font-family: 'NanumSquare',sans-serif;
}

a { text-decoration:none;}


.content{
    width: 100%; height: 100%;
    position: relative;
    overflow:hidden; /*얘를 써줘야 영상이 안삐져나옴*/
    background-color:black;
}


#next{
    text-align:center;
    color:white;
    background-color:black;
    width:70px;
    height:40px;
    font-size:15px;
    font-weight:700;
    border-radius:30px;
    cursor:pointer;
    border:none;
    position:absolute;
    left:48%;
    bottom:5%;
}

#next:hover{
    background-color:#ED7D31;
}

/*상단 바 */

.header{
    width: 100%;
    height: 50px;
    background-color:#F8F7F7;
    display:flex;
    align-items:center;
    justify-content:center;
  }
.navigation{
  width: 100%;
  text-align: center;
}
.navigation a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 18PX;
  text-decoration: NONE;
  color: #808080;
  font-weight: 500;
  /*text-shadow: 0 0 20px #000000;*/
  transition: 0.3s;
}

/*.navigation a:hover{
  color: #ED7D31;
}*/
.nav{
  position: fixed;
}
 
#now{
    color:black;
    font-weight:700;
}

#now:hover{
    color:#ED7D31;
}


.leftbox{
    position:absolute;
    top:10%;
    left:5%;
    background-color:#F8F7F7;
    height:80%;
    width:20%;
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;

}

.leftbox p{
    text-align:center;
    font-weight:700;
}

#box1{
    position:absolute;
    top:5%;
    height: 15%;
    width:60%;
    left:20%;
    background-color: white;
    /*border:2px #EEEEEE solid;*/
    border-radius:30px;
    box-shadow: 1px 1px 2px 2px lightgray;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box1:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

#box2{
    position:absolute;
    top:30%;
    height: 15%;
    width:60%;
    left:20%;
    background-color: white;
    /*border:2px #EEEEEE solid;*/
    border-radius:30px;
    box-shadow: 1px 1px 2px 2px lightgray;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box2:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

#box3{
    position:absolute;
    top:55%;
    height:15%;
    width:60%;
    left:20%;
    background-color: white;
    /*border:2px #EEEEEE solid;*/
    border-radius:30px;
    box-shadow: 1px 1px 2px 2px lightgray;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box3:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

#box4{
    position:absolute;
    top:80%;
    height:15%;
    width:60%;
    left:20%;
    background-color: white;
    /*border:2px #EEEEEE solid;*/
    border-radius:30px;
    box-shadow: 1px 1px 2px 2px lightgray;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box4:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

.rightbox{
    position:absolute;
    top:10%;
    left:30%;
    height:80%;
    width:65%;
    /*background-color:lightgreen;*/
}


#threatTable{
    position:absolute;
    overflow-x:hidden;
    overflow-y:auto;
    top:5%;
    left:5%;
    height:90%;
    width:90%;
    border-spacing:0;
    box-shadow: 2px 2px 3px 3px lightgrey;
}

#threatTable th{
    position: sticky;
    top:0px;
    /*background-color:#FED8B8;*/
    /*border:none;*/
    background-color:#ED7D31;
    text-align:center;
    color:white;
}


#threatList{
    left:0.5%;
    position:absolute;
    top:1%;
    width:99%;
    word-break:break-all;
    background-color:#F8F7F7;
    border-collapse:collapse;
    text-align:center;
}

/*table, tr, th, td {
    border:1px solid #E3E1E1; 
    border-collapse:collapse;
}

tr:hover{
    background-color:#E3E1E1;
}*/

#input1{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid gray;
    background-color:#F8F7F7;
}

#input1:focus{
    outline:3px solid #ED7D31;
}

#input2{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid gray;
    background-color:#F8F7F7;
}

#input2:focus{
    outline:3px solid #ED7D31;
}

td{
    font-size:14px;
}

th{
    vertical-align:center;
    font-size:18px;
}

#save:hover{
    font-weight:700;
    background-color:#ED7D31;
    cursor:pointer;
}

#save{
    border-radius:10px;
}

#threatNum{
    display:none;
}