@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,body,div,video {margin:0;padding:0;}

html{overflow: hidden;}
html, body{width: 100%; height: 100%; }

body {padding:0px, 0px, 0px, 0px; margin:0px, 0px, 0px, 0px; /*background-color:white;*/ }  

body{
    font-family: 'NanumSquare',sans-serif;
}

a { text-decoration:none;}


.content{
    width: 100%; height: 100%;
    position: relative;
    overflow:hidden; /*얘를 써줘야 영상이 안삐져나옴*/
   /* background-color:white;*/
}


#Next{

    text-align:center;
    color:white;
    background-color:black;
    width:100px;
    height:50px;
    font-size:15px;
    font-weight:700;
    border-radius:30px;
    cursor:pointer;
    border:none;
}

#Next:hover{
    background-color:#ED7D31;
}

table,th,td{
    text-align:center;
    border:none;
}

th,td{
    padding:10px;
}

thead{
    background:#454545;
    color:white;
    font-size:15px;
}

tbody{
    background:#F5F5F5;
    font-size: 13px;
}