@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,body,div,video {margin:0;padding:0;}

html{overflow: hidden;}
html, body{width: 100%; height: 100%; }

body {padding:0px, 0px, 0px, 0px; margin:0px, 0px, 0px, 0px; /*background-color:white;*/ }  

body{
    font-family: 'NanumSquare',sans-serif;
}

a { text-decoration:none;}


.content{
    width: 100%; height: 100%;
    position: relative;
    overflow:hidden; /*얘를 써줘야 영상이 안삐져나옴*/
   /* background-color:white;*/
}


#Next{
    text-align:center;
    color:white;
    background-color:black;
    width:100px;
    height:50px;
    font-size:15px;
    font-weight:700;
    border-radius:30px;
    cursor:pointer;
    border:none;
}

#Next:hover{
    background-color:#ED7D31;
}


table,th,td{
    text-align:center;
}

table { 
    border-collapse:collapse; 
}

th,td{
    padding:20px;
}

thead{
    background:#F0F0F0;
    color:black;
    font-size:17px;
    border-top:2px solid #CFCFCF;
}

tbody{
    background:white;
    font-size: 15px;
}

#head:hover{
    cursor:pointer;
    background-color:#CFCFCF;
} /*등급 표시 부분 */

#totalTable{
    table-layout:fixed; /*표 크기 고정 */
    border-spacing:0;
}


#table_right{
    overflow:auto;
    position:absolute;
    left:53.5%;
    top:16%;
    width:40%;
    height:65%;
    /*border: 2px solid #CFCFCF;*/
    border-spacing:0;
}

#table_right th{
    position: sticky;
    top:0px;
    background-color:#F0F0F0;
    border:none;
}

#caption{
    position:absolute;
    left:72%;
    top:9%;
    font-size:20px;
    font-weight:900;
}

.box1{
    position:absolute;
    left:6%;
    top:13%;
    width: 700px;
    height: 600px;
    background-color: #FBFBFB;
    border:2px lightgray solid;
    border-radius:50px;
    box-shadow: 2px 2px 0.5px -0.5px lightgray;
}

#title1{
    top:9%;
    left:22%;
    position:absolute;
    font-weight:900;
    font-size:20px;
}

.box2{
    position:absolute;
    left:53%;
    top:13%;
    width: 700px;
    height: 600px;
    background-color: #FBFBFB;
    border:2px lightgray solid;
    border-radius:50px;
    box-shadow: 2px 2px 0.5px -0.5px lightgray;
}