@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'NanumSquare', sans-serif;
    justify-content: center;
    background-color: #F8F7F7;
    display: flex;
    height: 100%;
}

h3 {
    font-weight: 900;
    position: fixed;
    left: 10px;
    top: 10px;
    margin: 0px;
}


.container_left {
    display: flex;
    height: 90%;
    width: 50%;
    flex-direction: row;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: auto;
}

.con_left_1 {
    display: flex;
    width: 100%;
    height: 20%;
    left: 0px;
    position: absolute;
    margin: auto;
}

#search_title {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    margin-top: 25px;
    height: 20px;
    border-left: 5px solid #ED7D31;
    font-weight: 900;
}

#search_table {
    height: 20%;
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#search_button {
    background-color: black;
    width: 70px;
    height: 30px;
    border: none;
}

#search_button:hover {
    background-color: #ED7D31;
}

#sel_1 {
    text-align: center;
    width: 100%;
    height: 30px;
}

#sel_2 {
    text-align: center;
    width: 100%;
    height: 30px;
}

.con_left_2 {
    display: flex;
    width: 100%;
    height: 80%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    margin: auto;
}

.asset_list {
    border: none;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 380px;
}


#collect {
    /*부모태그 : asset_list*/
    background-color: black;
    width: 70px;
    height: 30px;
    border: none;
}

#collect:hover {
    background-color: #ED7D31;
    cursor: pointer;
}

.container_right {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

.con_right_1 {
    display: inline-block;
    display: flex;
    width: 100%;
    height: 9%;
}

.con_right_2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 91%;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

#asset_table {
    position: absolute;
    left: 0px;
    top: 0px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    transform: none;
}

.users_title {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    margin-top: 25px;
    height: 20px;
    border-left: 5px solid #ED7D31;
    font-weight: 900;
}

.users_asset_list {
    border: none;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 455px;

}

.users_asset_list_table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 100%;
    width: 100%;
}

table.users_asset_list_table thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #ED7D31;
    margin: 20px 10px;
}

table.users_asset_list_table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 90px;
}

#next {
    width: 80px;
    height: 40px;
    background: black;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    font-weight: 900;
    justify-content: center;
}

#next:hover {
    background-color: #ED7D31;
    cursor: pointer;
}

/*상단 바 */

.header {
    width: 100%;
    height: 50px;
    background-color: #F8F7F7;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navigation {
    width: 100%;
    text-align: center;
}

.navigation a {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 18PX;
    text-decoration: NONE;
    color: #808080;
    font-weight: 500;
    /*text-shadow: 0 0 20px #000000;*/
    transition: 0.3s;
}

/*.navigation a:hover{ 
  color: #ED7D31;
}*/
.nav {
    position: fixed;
}

#now {
    color: black;
    font-weight: 700;
}

#now:hover {
    color: #ED7D31;
}

a {
    text-decoration: none;
}

/*.hover{
    background:#ffebde;
    color:#ffffff;
    cursor:pointer;
}*/
.cia {
    color: white;
    text-align: center;
    font-size: 13px;
}

.cia_div {
    background-color: black;
    width: 75px;
    margin: auto;
    border-radius: 15px;
}

.cia_div:hover {
    background-color: #ED7D31;
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}

#exit_btn:hover {
    content: url('https://img.icons8.com/ios-filled/50/000000/xbox-x.png');
}

.modal-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    display: none;
}

.modal-content {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
}

.cia_bar a:hover {
    color: #ED7D31;
    cursor: pointer;
    font-weight: 900;
}

.cia_table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 70%;
    width: 90%;
    overflow: auto;
    margin: auto;
    margin-bottom: 10px;
    display: none;
}

.cia_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: balck;
    border-bottom: 1px solid #808080;
    margin: 20px 10px;
    text-align: center;
}

.cia_table thead th span:hover {
    cursor: pointer;
    color: #ED7D31;
}

.cia_table td {
    width: 30 0px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.cia_save {
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    margin: auto;
    display: none;
}

.cia_save:hover {
    background-color: #ED7D31;
    cursor: pointer;
}

#asset_list_table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 100%;
    width: 100%;
}

#asset_list_table thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #ED7D31;
    margin: 20px 10px;
}

#asset_list_table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}