@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,body,div,video {margin:0;padding:0;}

html{overflow: hidden;}
html, body{width: 100%; height: 100%; }

body {padding:0px, 0px, 0px, 0px; margin:0px, 0px, 0px, 0px; background-color:#F8F7F7; }  

body{
    font-family: 'NanumSquare',sans-serif;
}

a { text-decoration:none;}



#next{
    position:fixed;
    left:47%;
    bottom:12%;
    text-align:center;
    color:white;
    background-color:black;
    width:80px;
    height:45px;
    font-size:15px;
    font-weight:700;
    border-radius:30px;
    cursor:pointer;
    border:none;
    z-index:100000;
}

#next:hover{
    background-color:#ED7D31;
}

#again{
    cursor:pointer;
}

.bigbox{
    display:flex;
    flex-direction:row;
    position:absolute;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
    top:10%;
    left:5%;
    width: 90%;
    height: 80%;
    z-index:1;
    /*background-color: #FBFBFB;
    border:2px lightgray solid;
    border-radius:50px;
    box-shadow: 2px 2px 0.5px -0.5px lightgray;*/
}

#box1{
    position:absolute;
    top:25%;
    height: 50%;
    width:20%;
    left:4%;
    background-color: white;
    border:2px #EEEEEE solid;
    border-radius:50px;
    box-shadow: 2px 2px 3px 3px #CBCBCB;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box1:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

#box2{
    position:absolute;
    top:25%;
    height: 50%;
    width:20%;
    left:28%;
    background-color: white;
    border:2px #EEEEEE solid;
    border-radius:50px;
    box-shadow: 2px 2px 3px 3px #CBCBCB;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box2:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

#box3{
    position:absolute;
    top:25%;
    height:50%;
    width:20%;
    left:52%;
    background-color: white;
    border:2px #EEEEEE solid;
    border-radius:50px;
    box-shadow: 2px 2px 3px 3px #CBCBCB;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;    
    cursor:pointer;
}

#box3:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

#box4{
    position:absolute;
    top:25%;
    height:50%;
    width:20%;
    left:76%;
    background-color: white;
    border:2px #EEEEEE solid;
    border-radius:50px;
    box-shadow: 2px 2px 3px 3px #CBCBCB;
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items : center;
    cursor:pointer;
}

#box4:hover{
    box-shadow:none; 
    border:4px #ED7D31 solid;    
}

.bigbox p{
    text-align:center;
}

#text1{
    font-size:20px;
    font-weight:900;
}

#text2{
    color:#686560;
}



#table_right{
    overflow:auto;
    position:absolute;
    left:5%;
    top:5%;
    width:90%;
    height:90%;
    border-spacing:0;
}

#table_right th{
    position: sticky;
    top:0px;
    /*background-color:#FED8B8;*/
    /*border:none;*/
    background-color:#ED7D31;
    text-align:center;
    color:white;
}


#methodTable{
    table-layout:fixed; /*표 크기 고정 */
    border-spacing:0;
    text-align:center;
}

#right{
    position:absolute;
    top:15%;
    height:77%;
    width:90%;
    left:5%;

    /*background-color: #FBFBFB;
    border:2px white solid;
    border-radius:50px;
    box-shadow: 2px 2px 3px 3px #EEEEEE;*/
    /*가운데 정렬을 위한 조건들 */
    display:flex;
    justify-content:center; 
    align-items : center;
}

.fadeinText{
    z-index:10;
}

#fadeinText1{
    position:absolute;
    top:3%;
    left:34%;
}

#fadeinText2{
    position:absolute;
    top:3%;
    left:34%;
}

#fadeinText3{
    position:absolute;
    top:3%;
    left:35%;
}

#fadeinText4{
    position:absolute;
    top:3%;
    left:36%;
}

#Text1{
    font-size:25px;
    font-weight:900;
}

#Text2{
    color:gray;
}

/*상단 바 */

.header{
    width: 100%;
    height: 50px;
    background-color:#F8F7F7;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.navigation{
  width: 100%;
  text-align: center;
}
.navigation a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 18PX;
  text-decoration: NONE;
  color: #808080;
  font-weight: 500;
  /*text-shadow: 0 0 20px #000000;*/
  transition: 0.3s;
}

/*.navigation a:hover{ 
  color: #ED7D31;
}*/
.nav{
  position: fixed;
}
 
#now{
    color:black;
    font-weight:700;
}

#now:hover{
    color:#ED7D31;
}

#riskNum{
    display:none;
}