@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,body,div,video {margin:0;padding:0;}

html{overflow: hidden;}
html, body{width: 100%; height: 100%; }

body {padding:0px, 0px, 0px, 0px; margin:0px, 0px, 0px, 0px; background-color:#F8F7F7; }  

body{
    font-family: 'NanumSquare',sans-serif;
}

a { text-decoration:none;}


.content{
    width: 100%; height: 100%;
    position: relative;
    overflow:hidden; /*얘를 써줘야 영상이 안삐져나옴*/
    background-color:black;
}

/* 스크룔 화살표 */
.arrow{position:absolute; left:50%; text-align:center; animation:arrow_down 1.5s infinite;}

.scroll-arrow {
    width:8px; 
    height:8px; 
    border-right: 3px solid white; 
    border-bottom: 3px solid white;
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);
    animation: arrow-wave 1s infinite; 
    animation-direction: alternate;
}

.scroll-arrow:nth-child(1) {
    animation-delay: 0.1s;}
.scroll-arrow:nth-child(2) {
    margin-top:6px; animation-delay: 0.2s;}
.scroll-arrow:nth-child(3) {
    margin-top:6px; animation-delay: 0.3s;}

@keyframes arrow-wave {
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}
@keyframes arrow_down{
    0%{top:85%;}
    50%{top:90%;}
    100%{top:85%;}
}

#next{

    text-align:center;
    color:white;   
    background-color:black;
    width:100px;
    height:50px;
    font-size:15px;
    font-weight:700;
    border-radius:30px;
    cursor:pointer;
    border:none;
}

#next:hover{
    background-color:#ED7D31;
}

.select{
    color:black; 
    font-size:30px; 
    font-weight:500;
}


.select .sel:hover{
    color:#ED7D31;
    cursor:pointer;
    font-weight:700;
}


.moveTopBtn {
    text-align:center;
    color:white;
    background-color:gray;
    width:40px;
    height:40px;
    font-size:13px;
    font-weight:800;
    cursor: pointer;
    border-radius: 50%;
    border:none;
    transition: .2s;
    position:fixed;
    top:93%;
    left:96%;
}

.moveTopBtn:hover{
    background-color:#ED7D31;
}

#input1{
    width:300px;
    height:50px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:3px solid black;
    background-color:#F8F7F7;
}

#input1:focus{
    outline:4px solid #ED7D31;
}

#input2{
    width:300px;
    height:50px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:3px solid black;
    background-color:#F8F7F7;
}

#input2:focus{
    outline:4px solid #ED7D31;
}

#input3{
    width:300px;
    height:50px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:3px solid black;
    background-color:#F8F7F7;
}

#input3:focus{
    outline:4px solid #ED7D31;
}

/*상단 바 */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color:#F8F7F7;
    display:flex;
    align-items:center;
    justify-content:center;

}
.navigation{
  width: 100%;
  text-align: center;
}

.navigation a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 18PX;
  text-decoration: NONE;
  color: #808080;
  font-weight: 500;
  /*text-shadow: 0 0 20px #000000;*/
  transition: 0.3s;
}

/*.navigation a:hover{ 
  color: #ED7D31;
}*/
.nav{
  position: fixed;
}
 
#now{
    color:black;
    font-weight:700;
}

#now:hover{
    color:#ED7D31;
}