@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
    font-family: 'NanumSquare', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color:#F8F7F7;
}

.join-form {
    position: relative;
    background-color: white;
    padding: 50px 90px 50px 90px;
    box-shadow: 3px 3px 3px 3px gray;
}
.join-form h1 {
    font-size: 32px;
    text-align: center;
    font-weight: 900;
}
.int-area {
    float: right;
    width: 300px;
}
.int-area_id {
    float: right;
    width: 300px;
}
.name-area {
    float: left;
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
}
.int-area input {
    opacity: 30%;
    background-position: 15px center;
    padding: 10px 10px 10px 20px;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid black;
    font-size: 15px; color:black;
    outline: none;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 255px;
}
.int-area_id input {
    opacity: 30%;
    background-position: 15px center;
    padding: 10px 10px 10px 20px;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid black;
    font-size: 15px; color:black;
    outline: none;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 175px;
}
#id_ident {
    background:black;
    color: white;
    border: none;
    height: 25px;
}
#id_ident:hover {
    background-color: #ED7D31;
    cursor: pointer;
}
input:focus {
    border: 2px solid #ED7D31;
}
.btn-area {
    margin-top: 30px;
}
.btn-area button {
    margin-left: 164.355px;
    width: 100px;
    height: 50px;
    background:black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    font-weight: 900;
}
.btn-area button:hover {
    background-color: #ED7D31;
    cursor: pointer;
}
.sign_up {
    margin-top: 20px;
    text-align: center;
}
.sign_up a {
    font-size: 15px;
    color:black;
    text-decoration: none;
}

/*상단 바 */

.header{
    width: 100%;
    height: 50px;
    background-color:#F8F7F7;
    position:fixed;
    display:flex;
    top:0%;
    align-items:center;
    justify-content:center;
    
}
.navigation{
  width: 100%;
  text-align: center;
}
.navigation a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 18PX;
  text-decoration: NONE;
  color: #808080;
  font-weight: 500;
  /*text-shadow: 0 0 20px #000000;*/
  transition: 0.3s;
}

/*.navigation a:hover{ 
  color: #ED7D31;
}*/
.nav{
  position: fixed;
}
